__pycache__/
*.py[cod]
.venv/
venv/
.env
*.egg-info/
build/
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/
report.json
report.xml
out/
mysql/
xunit-reports/
coverage-reports/
.coverage
sonar-project.properties
.sonar/